/*
 * Copyright (c) 2018. Libriciel scop
 * i-delibRE 3.1
 * LICENCE CeCILL v2
 *
 */

// Fixed Width Icons
// -------------------------
.@{fa-css-prefix}-fw {
  width: (18em / 14);
  text-align: center;
}
