/*
 * Copyright (c) 2018. Libriciel scop
 * i-delibRE 3.1
 * LICENCE CeCILL v2
 *
 */

  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

  .multiline{
      word-wrap:break-word;
      /*white-space: pre-wrap;*/
  }



  .multiline_center{
      white-space:pre-wrap;
      text-align: center;
  }


  .margin-form{
      margin-bottom: 15px;
  }



  .overline:hover{
      background: lightgreen;
  }

  .overlineFilter:hover{
      background: #31b0d5;
  }

  .overlineFilter{
      font-size: 18px;
  }



  .margin-icon{
      margin-right: 15px;
  }