#configdb-div{
	margin-bottom: 15px;
}

#configdb-div input[type="checkbox"]{
	vertical-align: text-bottom;
}

#configdb-div label{
	display: inline;
	margin-left: 5px;
}

#CollectiviteAddForm .item .well{
	margin-top: 10px;
}

#CollectiviteAddForm .item .well code{
	background-color: #555;
	color: #fff;
	display: block;
	font-weight: bold;
	padding: 15px;
	border-radius: 5px;
}