@charset "utf-8";
/*
 * webroot/css/convocations.css
 *
 * i-delibRE : le porte-document nomade des élus pour le suivi des séances délibérantes (https://adullact.net/projects/idelibre)
 *
 * CSS 3
 * @author Stéphane Sampaio
 * @copyright Adullact Projet
 * @link http://adullact.org/
 * @license http://www.cecill.info/licences/Licence_CeCILL_V2-fr.txt CeCiLL v2
 * @encoding UTF-8
 *
 * SVN Informations
 * $Date: 2013-10-22 10:10:01 +0200 (mar. 22 oct. 2013) $
 * $Revision: 303 $
 * $Author: ssampaio $
 * $HeadURL: svn+ssh://rdubourget@scm.adullact.net/scmrepos/svn/idelibre/trunk/app/webroot/css/convocations.css $
 * $Id: convocations.css 303 2013-10-22 08:10:01Z ssampaio $
*/


#listConvoc{
	margin-top: 15px;
}

#listConvoc .btn-group li{
	text-align: left;
	white-space: normal;
}

#listConvoc .btn-group > .btn {
	color: #000;
}

#convocDetail{
	margin-top: 15px;
}

#listConvoc h1, #convocDetail h1{
	font-size: 1.7em;
	padding: 5px;
	margin-bottom: 15px;
	border: 1px solid #fff;
	border-bottom: 1px solid #ccc;
	text-align: center;
	border-radius: 3px;
}

#convocDetail .doc{
	border: 1px solid #fff;
	padding: 10px 20px;
	border-radius: 3px;
}

#listConvoc h2, #convocDetail h2{
	font-size: 1.2em;
	padding: 0 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;
}


#listConvoc ul{
	margin: 0;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#convocDetail ol{
	/*list-style-type: none;*/
}

#convocDetail ol li.projet, #convocDetail ol li.pj{
	padding: 5px 5px 15px 5px;
	margin: 15px 0 5px 0;
	border-radius: 3px;
	border: 1px solid #fff;
	border-bottom-color: #ccc;
}

#convocDetail ol li.projet:last-child, #convocDetail ol li.pj:last-child{
	border-bottom-color: transparent;
}

#convocDetail ol li.projet:hover, #convocDetail ol li.pj:hover{
	border: 1px solid #ccc;
	box-shadow: 3px 3px 5px #999;
	background-color: #f9f9f9;
	background-image: linear-gradient(to bottom, #fff, #f9f9f9);
}

#convocDetail ol li.projet .doc{
	margin-top: 5px;
	border: 1px solid transparent;
	white-space: normal;
}


#convocDetail:hover h1, #convocDetail .doc:hover{
	border: 1px solid #ccc;
	box-shadow: 3px 3px 5px #999;
	background-color: #eee;
	background-image: linear-gradient(to bottom, #fff, #eee);
}

#convocDetail .doc:hover{
	background-color: #fee;
	background-image: linear-gradient(to bottom, #fff, #fee);
}

#convocDetail ol li.pj:hover{
	background-color: #eef;
	background-image: linear-gradient(to bottom, #fff, #eef);
}

#convocDetail:hover h1 .app-ui-hidden, #convocDetail .doc:hover .app-ui-hidden/*, #convocDetail ol li:hover .app-ui-hidden*/{
	visibility: visible;
}

.ordreDuJourItem{
	font-weight: bold;
}

fieldset .input-append input{
	width: 223px;
}

fieldset input, fieldset textarea{
	width: 250px;
}

fieldset select{
	width: 263px;
}

fieldset select[multiple]{
	height: 175px;
}


.user, .projet{
	border: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
	line-height: 25px;
	border-radius: 3px;

}

#finalProjets li .btn-group{
	margin-right: 5px;
}


/*ajout de séance*/
#ConvocationAjoutForm label{
	display: block;
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 180px;
}

#ConvocationAjoutForm .btn{
	margin-bottom: 10px;
}


#ConvocationDateSeanceH, #ConvocationDateSeanceM{
	width: 124px;
}

#UserUser{
	height: 130px;
}

#ConvocationAjoutForm h5{
    font-size: 1,2em;
	text-decoration: underline;
}

#ConvocationAjoutForm h6{
    font-size: 1em;
	text-decoration: underline;
}

#ConvocationAjoutForm .well-captioned-top {
    background-color: #CCCCCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1em;
    margin-bottom: 0;
    padding: 3px 10px;
    width: 100%;
	text-decoration: none;
}

#ConvocationAjoutForm .well-captioned {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#convocDetail ul li.li-void, #convocDetail ol li.li-void{
	list-style-type: none;
	border-style: none;
	border-width: 0;
}

#convocDetail ol li.li-void{
	padding: 8px 35px 8px 14px;
}



.projet .input-append.title textarea{
	font-weight: bold;
    width: 530px;
	border-color: transparent;
	box-shadow: 0 0 0 transparent;
}

.projet .input-append.title .add-on{
	visibility: hidden;
}

.projet .input-append.title:hover textarea{
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.projet .input-append.title:hover .add-on{
	visibility: visible;
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}


.pjs{
	padding: 10px 20px;
}

.projet-name-label, .doc label{
	font-weight: bold;
	text-decoration: underline;
}

/*Ptheme list*/
.ptheme-list{
	border: 1px solid #CCCCCC;
    border-radius: 10px 0 10px 10px;
    box-shadow: 0 9px 18px #CCCCCC;
    visibility: hidden;
    margin: 22px 182px 40px 118px;
	width: 528px;
    padding: 10px;
    z-index: 500;
	background-color: #FFFFFF;
    display: block;
    height: 125px;
    overflow-y: auto;
    position: absolute;
}
