@charset "utf-8";
/*
 * webroot/css/main.css
 *
 * i-delibRE : le porte-document nomade des élus pour le suivi des séances délibérantes (https://adullact.net/projects/idelibre)
 *
 * CSS 3
 * @author Stéphane Sampaio
 * @copyright Adullact Projet
 * @link http://adullact.org/
 * @license http://www.cecill.info/licences/Licence_CeCILL_V2-fr.txt CeCiLL v2
 * @encoding UTF-8
 *
 * SVN Informations
 * $Date: 2014-07-30 12:00:41 +0200 (mer. 30 juil. 2014) $
 * $Revision: 542 $
 * $Author: ssampaio $
 * $HeadURL: svn+ssh://rdubourget@scm.adullact.net/scmrepos/svn/idelibre/trunk/app/webroot/css/main.css $
 * $Id: main.css 542 2014-07-30 10:00:41Z ssampaio $
*/





.bg-grey{
    background-color: #EEE
}

.bg-red{
    background-color: #fcf8e3;
}

.idelibre-margin-button{
    background: red;
    margin-bottom: 20px;
}

html, body{
	height: 100%;
	background-color: #fff;
}

h1{
	font-size: 1.7em;
	padding: 5px;
	margin-bottom: 15px;
	border: 1px solid #fff;
	border-bottom: 1px solid #ccc;
	text-align: center;
	border-radius: 3px;
}

h2{
	font-size: 1.2em;
	padding: 0 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;
}

h1 .icon, h2 .icon, h3 .icon, h4 .icon, h5 .icon, h6 .icon{
	vertical-align: middle;
}

.form-horizontal .control-group, .control-group  {
    margin-bottom: 10px;
}


.form-horizontal .control-label {
	width: 170px;
}

.form-horizontal .checkbox .control-label {
	width: 160px;
}

.form-horizontal .required .control-label {
	width: 180px;
}

.form-horizontal .controls {
    margin-left: 185px;
}

.form-horizontal .input-prepend input[type="email"]{
	width: 243px;
}

.form-horizontal select{
	width: 284px;
}

.form-horizontal .controls.chkList{
/*	height: 350px;
	overflow: auto;*/
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.form-horizontal .controls div.input-xlarge {
	display: inline-block;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    margin: 5px 0;
    padding: 0 10px;
}

.form-horizontal .controls div.input-xlarge:hover, .form-horizontal .controls div.input-xlarge.selected{
	background-image: linear-gradient(to bottom, #444444, #555555);
	color: #E2E2E2;
}

.form-horizontal .input-xlarge input[type=checkbox]{
	margin-top: 0;
}

.form-horizontal .input-xlarge input[type=checkbox] + label{
	display: inline-block;
	margin: 10px 15px;
}


form .required label:after {
	content: " *";
	color: #ff0000;
	text-align: right;
}

dl{
	margin-bottom: 10px;
}

dt{
	margin-bottom: 7px;
	white-space: nowrap;
	clear: both;
	float: left;
    padding: 5px;
    text-align: right;
    width: 160px;
}

dd{
	margin-bottom: 7px;
	margin-left: 180px;
	padding: 5px 5px 5px 10px;
	background-color: #eee;
}

label{
	font-weight: bold;
	white-space: nowrap;
}

h2 i.icon{
	vertical-align: baseline;
}
/* Unmatched */
input[type=text]:invalid {
    color: red;
}

body > .container{
	padding-top: 50px;
	padding-bottom: 30px;
}

#footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
	color: #e2e2d2;
	text-align: center;
	border-top: 1px solid #252525;
	background-color: #444444;
    background-image: linear-gradient(to bottom, #444444, #555555);
	box-shadow: 0 0 7px #999;
	padding: 0;
}


.navbar-inverse .navbar-inner {
    background-color: #444444;
    background-image: linear-gradient(to bottom, #444444, #555555);
	box-shadow: 0 0 7px #999;
	color: #e2e2d2;
}

.btn-inverse{
	color: #e2e2d2;
}

/**
*	app Panels
*/

#menu-wrapper{
	z-index: 20;
	display: none;
	position: fixed;
	background-color:rgba(0, 0, 0, .2);
	top: 40px;
	bottom: 30px;
	left: 0;
	right: 0;
	padding: 40px 50px;
}

#menu-panel{
	padding: 15px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px #555;
}

#menu-panel .btn-action{
	height: 7em;
	margin-top: 10px;
}


.menu-close-btn{
	cursor: pointer;
}

#left-panel, #right-panel{
	z-index: 10;
	display: none;
	position: fixed;
	background-color:rgba(0, 0, 0, .2);
	color: #fff;
	top: 40px;
	bottom: 30px;
	width: 35%;
	padding: 10px;
}

#left-panel .content, #right-panel .content{
	overflow-y: auto;
	height: 100%;
}

#left-panel .content h4, #right-panel .content h4{
	background-color: #555;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
}

#left-panel .content ul, #right-panel .content ul{
	background-color: #555;
	border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    list-style-position: inside;
    padding: 5px;
}


#left-panel{
	left: -40%;
}

#right-panel{
	right: -40%;
}

/**
*	app Header
*/
.sidebar-nav-fixed {
    position:fixed;
    left:100px;
    top:75px;
    width:325px;
}

.app-ui-header .brand img{
	margin: 0 0 0px 5px;
    vertical-align: middle;
}


#menu a{
	width: 200px;
	height: 150px;
	padding: 30px 15px 0;
	margin: 15px;
	box-shadow: 0 0 5px #999;
	line-height: 20px;
}

/**
*	app Container
*/
/*.app-ui-container{
	padding-top: 30px;
}*/

.app-ui-nav-info{
	display: block;
    float: left;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
}
.app-ui-nav-info li{
	float: right;
	line-height: 20px;
	list-style: none outside none;
	padding: 10px 15px;
}

#flashMessage{
	box-shadow: 0 5px 10px #999999;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 82%;
    z-index: 1000;
}

#flashMessage .icon-time{
	vertical-align: middle;
}

#flashMessage .secInfo{
	font-size: 0.6em;
}

#flashMessage.alert-info{
	background-color: rgba(217, 237, 247, 0.8);
}

#flashMessage.alert-success{
	background-color: rgba(223, 240, 216, 0.8);
}

#flashMessage.alert-warning{
	background-color: rgba(242, 222, 222, 0.8);
}



#flashMessage .first{
	display: inline;
}
#flashMessage .second{
	display: none;
}
#flashMessage .third{
	display: none;
}


/**
 *	Home
*/

.homeTitle{
	margin-top: 75px;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
	text-align: left;
}

.homeLogo{
	margin-top: 50px;
}


.user-logged-message{
	text-align: center;
	margin: 10px 150px;
}

/**
*	app Notifications
*/
.app-ui-notification{
	display: none;
	background-color: #F5F5F5;
	border-bottom: 1px solid silver;
	min-height: 50px;
	max-height: 125px;
	overflow-y: auto;
	padding: 0 5px;
}

.app-ui-notification .ico{
	margin-right: 15px;
}


.app-ui-notification .item{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}


.labelh30{
	line-height: 30px;
}

.notificationSumUp{
	margin-top: 5px;
	min-width: 340px;
}

.notificationPlaceHolder{
	height: 300px;
	overflow: auto;
	padding: 0;
	border: 1px solid #ccc;
}

.notificationItem{
	padding: 5px;
}


.notificationItem .notificationActions{
	text-align: center;
}

#notificationList tr{
	cursor: pointer;
}

#notificationList .date{
	text-align: center;
	width: 25px;
}

#notificationList .status{
	text-align: center;
	width: 25px;
}


/**
* Document viewer
*/
#app-ui-document-viewer{
	border-radius: 5px;
	box-shadow: 0 0 5px #555;
	overflow-y: auto;
}


#toolbox{
	visibility: visible;
}

#toolbox .btn-toolbar{
	margin-bottom: 0;
	margin-top: 0;
}

#toolboxOpenBtn{
	display: none;
	visibility: hidden;
}


/**
 * Pre-seance, seance, post-seance
*/

article.highlight{
	border: 1px dotted #fbb450;
	box-shadow: 0 0 25px #FB7700;
}

.fc-view table tr{
	height: 60px;
}

.fc-view table td{
	width: 50px;
}

.notificationItem .notificationContent .acteList, #notificationListDiv .acteList{
	list-style-type: none;
}

.notificationItem .notificationContent .acteList .item, #notificationListDiv .acteList .item{
	margin-bottom: 10px;
}

.notificationItem .notificationContent article .dateList, #notificationListDiv article .dateList{
	margin-bottom: 20px;

}

.notificationItem .notificationContent .acteList .item i, #notificationListDiv .acteList .item i{
	vertical-align: middle;
}

.notificationItem .notificationContent .acteList .item .toolbox, #notificationListDiv .acteList .item .toolbox{
	border: 1px solid #888;
	background-color: #fff;
	border-radius: 5px;
	margin: 10px 25px;
	padding: 5px;
	text-align: center;
	box-shadow: 0 0 3px #555;
}


/*responsive design*/
#menu-panel .btn-action .btn-content{
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dashed #ccc;
}

#debugTools{
	z-index: 10000;
	position: fixed;
	left: 0;
	width: 40px;
	box-shadow: -3px 0 5px #999;
	padding: 5px;
	top: 100px;
	min-height: 267px;
}

#debugTools.fold{
	left: -45px;
}

#debugTools.fold:hover{
	left: 0;
}

/**
 * Helpers
*/

h1, h2, h3{
	line-height: 30px;
}

h1{
	font-size: 2em;
}
h2{
	font-size: 1.8em;
}
h3{
	font-size: 1.6em;
}
h4{
	font-size: 1.4em;
}
h5{
	font-size: 1.2em;
}
h6{
	font-size: 1em;
}


/** Tables **/
table {
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(even) {
	background: #f9f9f9;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}


.app-ui-hidden{
	visibility: hidden;
}

fieldset{
	border: 1px solid #ccc;
    border-radius: 3px;
	margin: 15px 0;
    padding: 15px;
}

fieldset legend{
	border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 10px;
	background-color: #eee;
	background-image: linear-gradient(to bottom, #fff, #eee);
	font-weight: bold;
	font-size: 1.2em;
	line-height: 30px;
    margin-bottom: 0;
}


table th.uuid, table td.uuid,table th.datetime, table td.datetime, .table-header .search-list li.uuid, .table-header .search-list li.datetime{
	display: none;
}

.table-header .search-list li.uuid.show, .table-header .search-list li.datetime.show{
	display: list-item;
}

table th.uuid.show, table td.uuid.show,table th.datetime.show, table td.datetime.show{
	display: table-cell;
}

table th.datetime, table th.boolean, table td.datetime, table td.boolean{
	text-align: center;
}



.table-header{
	padding: 10px;
	border: 1px solid #c0c0c0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #f4f4f4;
	margin-top: 10px;
}

.table-header .input-append{
	margin: 0;
}

.table-header .search-boolean, .search-foreignkey{
	display: inline-block;
}

.search-foreignkey ul{
	max-height: 175px;
	overflow-y: auto;
}

.table-footer{
	padding: 10px;
	border: 1px solid #c0c0c0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #f4f4f4;
	margin-bottom: 25px;
}


.table-header .pagination, .table-footer .pagination{
	margin: 10px 0;
}

.table-container{
	overflow: auto;
	padding: 10px;
	border: 1px solid #c0c0c0;
	border-top-width: 0;
	border-bottom-width: 0;
}


.table-container table th, .table-container table td{
	white-space: nowrap;
}

.goTop{
	border-radius: 25px;
	/*border-top-right-radius: 15px;*/
	/*border-bottom-right-radius: 15px;*/
	background-color: #333;
	position: fixed;
	/*	width: 45px;
		height: 65px;*/
	bottom:10%;
	left:-30px;
	padding:5px;
	opacity: 0.2;
	cursor: pointer;
	border: 1px solid #000;
	box-shadow: 0 2px 7px #000;
	z-index: 50;
	line-height: 0;
	color: white;
}

.goTop.hover{
	animation:goTopHover 500ms;
	-webkit-animation:goTopHover 500ms; /* Safari and Chrome */
	opacity: 0.8;
	left: 10px;
	color: white;
}

@keyframes goTopHover {
	0%   {opacity:0.2; left:-30px; }
	100% {opacity:0.8; left: 10px; }
}

@-webkit-keyframes goTopHover /* Safari and Chrome */{
	0%   {opacity:0.2; left:-30px; }
	100% {opacity:0.8; left: 10px; }
}



.fkchoice a{
	color: #000;
}


.hints{
	font-style: italic;
	font-size: 0.9em;
}

.small-fields .control-label{
	width: 55px;
}
.small-fields .controls{
	margin-left: 65px;
}


.control-group.inline{
	display: inline-block;
}
.control-group.inline .controls{
	margin-left: 0;
}


