@charset "utf-8";
/*
 * webroot/css/monitor.css
 *
 * i-delibRE : le porte-document nomade des élus pour le suivi des séances délibérantes (https://adullact.net/projects/idelibre)
 *
 * CSS 3
 * @author Stéphane Sampaio
 * @copyright Adullact Projet
 * @link http://adullact.org/
 * @license http://www.cecill.info/licences/Licence_CeCILL_V2-fr.txt CeCiLL v2
 * @encoding UTF-8
 *
 * SVN Informations
 * $Date: 2013-10-22 10:10:01 +0200 (mar. 22 oct. 2013) $
 * $Revision: 303 $
 * $Author: ssampaio $
 * $HeadURL: svn+ssh://ssampaio@scm.adullact.net/scmrepos/svn/idelibre/branches/1.0.x/app/webroot/css/login.css $
 * $Id: login.css 303 2013-10-22 08:10:01Z ssampaio $
*/

#controls{
    margin-top: 25px;
}


#monitor{
    bottom: 50px;
    top: 150px;
    width: 80%;
    position: absolute;
    overflow: auto;
}

