@charset "utf-8";
/*
 * webroot/css/seances.css
 *
 * i-delibRE : le porte-document nomade des élus pour le suivi des séances délibérantes (https://adullact.net/projects/idelibre)
 *
 * CSS 3
 * @author Stéphane Sampaio
 * @copyright Adullact Projet
 * @link http://adullact.org/
 * @license http://www.cecill.info/licences/Licence_CeCILL_V2-fr.txt CeCiLL v2
 * @encoding UTF-8
 *
 * SVN Informations
 * $Date: 2013-11-21 11:13:30 +0100 (jeu. 21 nov. 2013) $
 * $Revision: 326 $
 * $Author: ssampaio $
 * $HeadURL: svn+ssh://rdubourget@scm.adullact.net/scmrepos/svn/idelibre/trunk/app/webroot/css/seances.css $
 * $Id: seances.css 326 2013-11-21 10:13:30Z ssampaio $
*/

#listSeance{
	margin-top: 15px;
}

#listSeance .btn-group li{
	text-align: left;
	white-space: normal;
}

#listSeance .btn-group > .btn {
	color: #000;
}

#seanceDetail{
	margin-top: 15px;
}

#listSeance h1, #seanceDetail h1{
	font-size: 1.7em;
	padding: 5px;
	margin-bottom: 15px;
	border: 1px solid #fff;
	border-bottom: 1px solid #ccc;
	text-align: center;
	border-radius: 3px;
}

#seanceDetail .doc{
	border: 1px solid #fff;
	padding: 10px 20px;
	border-radius: 3px;
}

#listSeance h2, #seanceDetail h2{
	font-size: 1.2em;
	padding: 0 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;
}


#listSeance ul{
	margin: 0;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#seanceDetail ol{
	/*list-style-type: none;*/
}

#seanceDetail ol li.projet, #seanceDetail ol li.pj{
	padding: 5px 5px 15px 5px;
	margin: 15px 0 5px 0;
	border-radius: 3px;
	border: 1px solid #fff;
	border-bottom-color: #ccc;
}
#seanceDetail ol li.projet.notEditable{
	background-color: #CFCFCF;
    background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF);
    border: 1px solid #CCCCCC;
    box-shadow: 3px 3px 5px #999999;
}

#seanceDetail ol li.projet{
	background-color: #F9F9F9;
    background-image: linear-gradient(to bottom, #FFFFFF, #F9F9F9);
    border: 1px solid #CCCCCC;
    box-shadow: 3px 3px 5px #999999;
}

#seanceDetail ol li.pj:last-child{
	border-bottom-color: transparent;
}

#seanceDetail ol li.pj:hover{
	border: 1px solid #ccc;
	box-shadow: 3px 3px 5px #999;
	background-color: #f9f9f9;
	background-image: linear-gradient(to bottom, #fff, #f9f9f9);
}

#seanceDetail ol li.projet .doc{
	margin-top: 5px;
	border-color: transparent;
    border-image: none;
    border-style: solid solid double;
    border-width: 1px 1px 1px;
	white-space: normal;

}

#SeanceAjoutForm ol li.projet .doc{
	border-color: transparent transparent #CCCCCC;
}


#seanceDetail .doc:hover{
	border: 1px solid #ccc;
	box-shadow: 3px 3px 5px #999;
	background-color: #eee;
	background-image: linear-gradient(to bottom, #fff, #eee);
}

#seanceDetail .doc:hover{
	background-color: #fee;
	background-image: linear-gradient(to bottom, #fff, #fee);
}

#seanceDetail ol li.pj:hover{
	background-color: #eef;
	background-image: linear-gradient(to bottom, #fff, #eef);
}

#seanceDetail:hover h1 .app-ui-hidden, #seanceDetail .doc:hover .app-ui-hidden/*, #seanceDetail ol li:hover .app-ui-hidden*/{
	visibility: visible;
}

.ordreDuJourItem{
	font-weight: bold;
}

fieldset .input-append input{
	width: 223px;
}

fieldset input, fieldset textarea{
	width: 250px;
}

fieldset select{
	width: 263px;
}

fieldset select[multiple]{
	height: 175px;
}


.user, .projet{
	border: 1px solid #ccc;
	padding: 5px;
	margin: 5px;
	line-height: 25px;
	border-radius: 3px;

}



.user-from-type{
	background-color: #eee;
}

#finalProjets li .btn-group{
	margin-right: 5px;
}


/*ajout de séance*/
#SeanceAjoutForm label{
	/*display: block;*/
    /*float: left;*/
    margin-bottom: 5px;
    /*width: 180px;*/
}

#SeanceAjoutForm .btn{
	margin-bottom: 10px;
	/*margin-top: 10px;*/
}


#SeanceDateSeanceH, #SeanceDateSeanceM{
	width: 124px;
}

#UserUser{
	height: 130px;
	margin-bottom: 10px;
}

#SeanceAjoutForm h5{
    font-size: 1,2em;
	text-decoration: underline;
}

#SeanceAjoutForm h6{
    font-size: 1em;
	text-decoration: underline;
}

#SeanceAjoutForm .well-captioned-top {
    background-color: #CCCCCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1em;
    margin-bottom: 0;
    padding: 3px 10px;
    width: 100%;
	text-decoration: none;
}

#SeanceAjoutForm .well-captioned {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}



#SeanceAjoutForm input[type="file"]{
	width: 100%;
}

#seanceDetail ul li.li-void, #seanceDetail ol li.li-void{
	list-style-type: none;
	border-style: none;
	border-width: 0;
}

#seanceDetail ol li.li-void{
	padding: 8px 35px 8px 14px;
}



.projet .input-append.title textarea{
	font-weight: bold;
    width: 530px;
	border-color: transparent;
	box-shadow: 0 0 0 transparent;
}

.projet .input-append.title .add-on{
	visibility: hidden;
}

.projet .input-append.title:hover textarea{
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.projet .input-append.title:hover .add-on{
	visibility: visible;
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}


.pjs{
	padding: 10px 20px;
}

.projet-name-label, .doc label{
	font-weight: bold;
	text-decoration: underline;
}

/*Ptheme list*/
.ptheme-list{
	border: 1px solid #CCCCCC;
    border-radius: 10px 0 10px 10px;
    box-shadow: 0 9px 18px #CCCCCC;
    visibility: hidden;
    margin: 22px 182px 40px 118px;
	width: 528px;
    padding: 10px;
    z-index: 500;
	background-color: #FFFFFF;
    display: block;
    height: 125px;
    overflow-y: auto;
    position: absolute;
}

.hints{
	font-style: italic;
	font-size: 0.9em;
}


#hourSelect label:first-child{
	float: left;
	text-align: right;
	width: 175px;
}

#hourSelect .hourSelectDiv{
	margin-left: 10px;
}

#btnAddNewUser{
	margin-left: 65px;
}

#AddProjetForm .hints{
	margin-left: 185px;
	margin-bottom: 10px;
    margin-left: 185px;
    margin-top: -13px;
}


.btn-label-action{
	margin-left: 50px;
}


.tab-content {
    overflow: visible;
}