#group_user_infos{
    display: none;
}


#SrvuserMandatColls{
    height: 400px;
    width: 25%;
}

.controls.chkList fieldset{
    margin: 15px 20px;
}

.controls.chkList fieldset .input-xlarge{
    width: 259px;
}

.controls.chkList fieldset .input-xlarge.inactive{
        font-style: italic;
        color: #999;
}