@charset "utf-8";
/*
 * webroot/css/stats.css
 *
 * i-delibRE : le porte-document nomade des élus pour le suivi des séances délibérantes (https://adullact.net/projects/idelibre)
 *
 * CSS 3
 * @author Stéphane Sampaio
 * @copyright Adullact Projet
 * @link http://adullact.org/
 * @license http://www.cecill.info/licences/Licence_CeCILL_V2-fr.txt CeCiLL v2
 * @encoding UTF-8
 *
 * SVN Informations
 * $Date: 2013-10-22 10:10:01 +0200 (mar. 22 oct. 2013) $
 * $Revision: 303 $
 * $Author: ssampaio $
 * $HeadURL: svn+ssh://rdubourget@scm.adullact.net/scmrepos/svn/idelibre/trunk/app/webroot/css/stats.css $
 * $Id: stats.css 303 2013-10-22 08:10:01Z ssampaio $
*/

table{
	margin: 30px 10px;
	width: 99%;
}

table tr th:first-child{
	width: 200px;
}

table tbody{
	border: 1px solid #ccc;
}

table tbody, table tr:last-child, table tr:last-child td:first-child{
	border-bottom-left-radius: 5px;
}

table tbody, table tr:last-child, table tr:last-child td:last-child{
    border-bottom-right-radius: 5px;
}


table caption{
	background-color: #CCCCCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.3em;
    margin-bottom: 0;
    padding: 10px;
    text-decoration: none;
	font-weight: bold;
}