@charset "utf-8";
/*
 * webroot/css/treelist.css
 *
 * i-delibRE : le porte-document nomade des élus pour le suivi des séances délibérantes (https://adullact.net/projects/idelibre)
 *
 * CSS 3
 * @author Stéphane Sampaio
 * @copyright Adullact Projet
 * @link http://adullact.org/
 * @license http://www.cecill.info/licences/Licence_CeCILL_V2-fr.txt CeCiLL v2
 * @encoding UTF-8
 *
 * SVN Informations
 * $Date: 2013-10-22 10:10:01 +0200 (mar. 22 oct. 2013) $
 * $Revision: 303 $
 * $Author: ssampaio $
 * $HeadURL: svn+ssh://rdubourget@scm.adullact.net/scmrepos/svn/idelibre/trunk/app/webroot/css/treelist.css $
 * $Id: treelist.css 303 2013-10-22 08:10:01Z ssampaio $
*/
/*TreeList*/
.tree-list, .tree-list ul{
	list-style-type: none;
}

.tree-list li{
	border: 1px solid transparent;
	border-radius: 3px;
	line-height: 30px;
	padding-left: 5px;
}

.tree-list .list-data{
	cursor: pointer;
}

.tree-list .list-data i{
	visibility: hidden;
}

.tree-list .list-data:hover{
	border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 5px #999999;
	background-color: #EEFFEE;
    background-image: linear-gradient(to bottom, #FFFFFF, #EEFFEE);
}

.tree-list .list-data:hover i{
	visibility: visible;
}

.tree-list .list-placeholder{
	list-style-type: none;
}

