  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

  .multiline{
      word-wrap:break-word;
      /*white-space: pre-wrap;*/
  }


  .multiline-wrap{
      word-wrap:break-word;
      white-space: pre-wrap;
  }


  .multiline_center{
      white-space:pre-wrap;
      text-align: center;
  }


  .margin-form{
      margin-bottom: 15px;
  }



  .overline:hover{
      background: lightgreen;
  }

  .overlineFilter:hover{
      background: #31b0d5;
  }

  .overlineFilter{
      font-size: 14px;
      margin: 5px;
      cursor: pointer;
  }

  .margin-icon{
      margin-right: 15px;
  }

  .margin-title{
      margin-bottom: 40px;
  }

  .inline-select{
      display: inline-block;
      width: auto;
  }
  .annexe{
      margin-bottom: 5px;
  }

  .tab-text{
      font-size: 14px;

  }


  .disabled-all {
      opacity: 0.5;
      pointer-events: none;
  }