<div class ="btn btn-default btn-lg center-block projet perso_align_left menuButton" style="display: block; background: azure; width: 80%;" ng-click="action()">   
    <div class="row" >
        <div class="col-xs-1" >  </div>
        <!--                <div class="col-xs-7 nopadding"><span ng-show="loadingState"><i class="fa fa-check green_color"></i></span> {{data.name}}</div>-->
        <div class="col-xs-7 nopadding"> <i ng-class="stateClass"></i> {{name}}</div>
    </div>
</div>


