<style>
    .leftDrawer {
        background: whitesmoke;
        position: fixed;
        display: block;
        left: 0px;
        top: 58px;
        bottom: 0;
        width: 400px;
        z-index:1081;
        overflow: scroll;
        overflow-x:hidden;
    }

</style>

<div id="navigationDrawer" class="leftDrawer">
    <div id="anchor{{projet.id}}" ng-repeat="projet in seance.projets | orderBy:'rank'">
        <navigation-drawer-item projet="projet" seance="seance" account="account"></navigation-drawer-item>
    </div>
</div>