<h2><?php echo __d('user','User.validation.acteurs')  ?> </h2> <hr>


<br>
<div class="span3" id="listUser">
    <?php
    foreach ($userList as $user) {
        ?>
        <button class="btn" style='width:100%; ' onclick="showUser('<?php echo $user['User']['id'] ?>')" > <?php echo $user['User']['firstname'] . ' ' . $user['User']['lastname']; ?> </button> 
        <br>
    <?php } ?>
</div>


<div class="span1"></div>


<div class="span6" id="UserDetails">
    <!--    donne de li'utilisateur ici-->

</div>


<script>

    var showUser = function (id) {
        //alert(id);
        var url = "<?php echo Router::url(array('controller' => 'Confirmuser', 'action' => 'edit')); ?>/" + id;

        //alert(url);

        $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
                console.log(data);
                console.log(typeof(data));
                if (data == "baduser") {
                    console.log('ok');
                    var warning = "l'username de cette utilisateur est déja utiliser par quelqu'un avec un autre nom, veuillez en changer";
                    $('#UserDetails').html(warning);
                } else {
                    console.log('ko');
                    $('#UserDetails').html(data);
                }
            },
            error: function (data) {
                if (data.status === 403) {
                    //$('#connexionForbidden').modal('show');
                    alert('connexion impossible');
                }
            }
        });

    };


</script>














