
<style>
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }


    .notSelected{
        background: #F5F5F5;
    }

    .selected{
        background: #9FA8DA;
    }

    .groupePol{
        background: #BBDEFB;
        padding-top: 10px ;
        padding-bottom: 10px; 
    }

</style>



<div class="modal-header">
    <h3 class="modal-title">Annotation</h3>
</div>
<div class="modal-body">

    <label >Auteur :</label> {{stickyNote.authorName}} <br>
    <label >Date :</label> {{stickyNote.formatedDate}} <br>

    <label>Page :</label> {{stickyNote.page}}<br>

    <div class="form-group ">
        <label >Annotation :</label>
        <textarea ng-hide="stickyNote.isLocked"  class="form-control" ng-model="sticky.text" rows="5"></textarea>
        <textarea ng-show="stickyNote.isLocked" readonly class="form-control" ng-model="sticky.text" rows="5"></textarea>
    </div>

    <div ng-hide="stickyNote.isLocked">
        <div>
            <label>Partager : </label><br>


            <label class="switch">
                <input ng-change="sharedChange()" ng-model="shared.status"   type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>

        
        <div ng-show="shared.status" style="height:230px;overflow-y:scroll; overflow-x:  hidden">
            <div ng-repeat="groupePol in groupesPolitiques"> 
                <div class="col-xs-12">
                    <div ng-click="clickOnGP(groupePol)" class="btn groupePol fa fa-lg" ng-class="{'fa-check': groupePol.isSelected}" style="width:100%; margin-top: 2px"><b>{{groupePol.name}}</b></div>
                </div>
            </div>
            <div ng-repeat="user in users">
                <div class="col-xs-6">
                    <div ng-click="clickOnUser(user)" class="btn" ng-class="{notSelected : !user.isShared, selected:user.isShared}" style="width:100%; margin-top: 2px"> <b>{{user.firstname}}<br> {{user.lastname}}</b></div> 

                </div>

            </div>

        </div>
    </div>
    
    <div ng-show="stickyNote.isLocked" style="height:200px;overflow-y:scroll; overflow-x:  hidden">

        <div ng-repeat="user in users">
            <div ng-if="user.isShared" class="col-xs-6">
                <div class="notSelected" style="width:100%; margin-top: 2px;text-align: center;"> <b>{{user.firstname}}<br> {{user.lastname}}</b></div> 
            </div>

        </div>
    </div>
</div>


<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
    <button ng-hide="stickyNote.isLocked" class="btn btn-danger pull-left" ng-click="deleteSticky()" >Supprimer</button>
    <button ng-hide="stickyNote.isLocked" class="btn btn-success" ng-click="ok()">Enregistrer</button>

</div>