<?php
/**
 * Copyright (c) 2018. Libriciel scop
 * i-delibRE 3.1
 * LICENCE CeCILL v2
 *
 */

//debug($this->request->data);

$UsersChoice = $this->request->data['existing'];

//debug($UsersChoice);
?>



<form id="UserConfirm"  method="post" action="/Users/confirm">

<?php

foreach ($UsersChoice as $key => $user) {
    if (!empty($user['Srvuser'])) {
        echo '<br>';
        //peut etre utiliser la key plutot
        echo '<input type="radio" name="keyChoice" value="'.$key.'">';
        echo 'Nom : ';
        echo '<b>' . $user['Srvuser']['firstname'] . '</b>' . '<br>';
        echo 'Prénom : ';
        echo '<b>' . $user['Srvuser']['lastname'] . '</b>' . '<br>';
        echo 'Date de naissance : ';
        echo '<b>' . $user['Srvuser']['naissance'] . '</b>' . '<br>';
        echo 'Username : ';
        echo '<b>' . $user['Srvuser']['username'] . '</b>' . '<br>';

        foreach ($user['Mandat'] as $Mandat) {
            echo 'Collectivité : ';
            echo '<b>' . $Mandat['Collectivite']['name'] . '</b>' . '<br>';
        }
//echo $user['collectivite'] .'<br>';
    }
}
?>
    <br>
    <input type="radio" name="keyChoice" value="new"> <b>nouvel utilisateur </b>
    <br><br>
    <button type="submit">ok</button>
</form>



<?php
/*
echo $this->Form->create();


echo $this->Form->input('existing.Srvuser.firstname', array());

echo $this->Form->input('Test.field', array(
    'before' => '--avant--',
    'after' => '--après--',
    'between' => '--entre---',
    'separator' => '--séparateur--',
    'options' => array('1', '2')
));

/*
  options = array('H' => 'Homme', 'F' => 'Femme');
  $attributes = array('legend' => false);
  echo $this->Form->radio('genre', $options, $attributes);
 */
/*echo $this->Form->end();
*/