<?php
/**
 * Copyright (c) 2018. Libriciel scop
 * i-delibRE 3.1
 * LICENCE CeCILL v2
 *
 */

//recherche par theme de projet
echo $this->Base->create(false, array(
    'class' => 'form-inline',
    'url' => array('controller' => 'Search', 'action' => 'searchByTheme')
));






echo $this->Base->input('theme', array(
    'options' => $listThemes,
    'empty' => 'tous',
    'label' => 'Theme :',
    'div' => false
));

echo $this->Base->end(array('label' => 'Enregistrer', 'class' => 'btn btn-success', 'div' => false));





?>

<input type="text" value="2012-05-15 21:05" id="datetimepicker">

<script>
$('#datetimepicker').datetimepicker({
    format: 'yyyy-mm-dd hh:ii'
});
</script>


<?php

//
//echo '<hr>';
//
//
//
////recherche par type de seance
//echo $this->Base->create(false, array(
//    'url' => array('controller' => 'Search', 'action' => 'searchByType')
//));
//
//
//
//echo $this->Base->input('type', array(
//    'options' => $listTypes,
//    'empty' => 'tous'
//));
//
//
//
//
//echo $this->Base->end('ok');
//
//echo '<hr>';
//
//
//
//
////recherche par date
//echo $this->Base->create(false, array(
//    'url' => array('controller' => 'Search', 'action' => 'searchByDate')
//));
//
//
//echo $this->Base->day('dateFrom', array('empty' => "Jour"));
//echo $this->Base->month('dateFrom', array('empty' => "Mois"));
//echo $this->Base->Year('dateFrom', date('Y') - 15, date('Y') - 0, array('empty' => "Année"));
//echo '<br>';
//
//echo $this->Base->day('dateTo', array('empty' => "Jour"));
//echo $this->Base->month('dateTo', array('empty' => "Mois"));
//echo $this->Base->Year('dateTo', date('Y') - 15, date('Y') - 0, array('empty' => "Année"));
//
//
//echo $this->Base->end('ok');
//
//
//echo '<hr>';
?>




<form class="form-inline">
    <label> test</label><input type="text" class="input">
    <label> test</label><input type="password" class="input">
    <label class="checkbox">
        <input type="checkbox"> Remember me
    </label>
    <button type="submit" class="btn">Sign in</button>
</form>




